.accordion {
    --bs-accordion-color: none !important;
    --bs-accordion-bg: none !important;
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: none !important;
    --bs-accordion-border-width: var(--bs-border-width);
    --bs-accordion-border-radius: var(--bs-border-radius);
    --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) -(var(--bs-border-width)));
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: var(--bs-body-color);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%234A5073' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e);
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%230f111a' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.2rem rgba(38, 43, 64, 0.25);
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: var(--bs-primary-text-emphasis);
    --bs-accordion-active-bg: var(--bs-primary-bg-subtle);
}


.sidebar-inner .accordion-button::after {
    display: none !important;
}

.accordion-button {
    color: white !important;
}

.accordion-button:hover {
    background-color: #2e3650 !important;
}

.sidebar-chevron{
    width: 100%;
    display: flex !important;
    justify-content: flex-end !important;
}

.btn1{
    margin-bottom: 1vmax;
    border-radius: 25px;
    font-weight: 600;
    color: white;
    outline: none;
    border: none;
    border: 2px solid rgb(59, 156, 205);
    padding: 8px 8px !important;
    width: 200px;
    background-color: rgb(59, 156, 205);
}

.btn1:hover{
transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    border: 2px solid rgb(59, 156, 205);
    background-color: transparent;
}